---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mara's personal website `(*>﹏<*)′" />

    <link rel="canonical" href="https://maras.moe" />
    <meta name="theme-color" content="#8080b7" />

    <meta property="og:title" content="maras.moe" />
    <meta
      property="og:description"
      content="Mara's personal website `(*>﹏<*)′"
    />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/1208531571213213696/1260338040401039390/maras.moe.jpg"
    />
    <meta property="og:url" content="https://maras.moe" />
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - maras</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

  :root {
    --accent: 128, 128, 183;
    --accent-light: 178, 178, 211;
    --accent-dark: 44, 44, 63;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --accent-2: 128, 156, 183;
  }

  html {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    background: rgba(22, 22, 32);
    color: rgba(223, 233, 237);
    background-size: 224px;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100svh;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3em;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.3em;
    margin-top: 1.5rem;
  }

  .text-gradient {
    background-image: linear-gradient(
      0.25turn,
      rgb(var(--accent)),
      rgb(var(--accent-dark))
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  a {
    transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(var(--accent));
    font-weight: 400;
    width: fit-content;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.8;
  }
</style>
